# Kotlin/Gradle specific files
build/
/build/
.idea/
*.iml
*.ipr
*.iws

# Gradle files
gradle/
gradlew
gradlew.bat
.gradle

# Compiled Kotlin files
*.class
*.jar

# Local configuration file (sdk.dir)
local.properties

# VS Code configs
.vscode/

# Ignore bin
bin/